@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Blog Kategori Bilgileri Giriş</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfanın hakkımızda alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.
                        </p>
                        <form class="needs-validation" novalidate method="post">
                            <div class="form-row">

                                <div class="col-md-12 mb-3">
                                    <label for="name">Kategori Adı</label>
                                    <input type="text" class="form-control" id="name" placeholder="Başlığı Giriniz" asp-for="Name" required>
                                    <div class="invalid-tooltip">
                                        Lütfen Bu Alanı Doldurun
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary waves-effect waves-light" type="submit">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Admin/vertical/assets/pages/validation-demo.js"></script>

}

